body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: black ;
}

.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(17, 17, 17) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}

.texto01 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2760ff;  
    font-size: 20px}   

.cartao01{
    left: 70px;
    position: absolute;
}

.cartao02{
    left: 500px;
    position: absolute;
}

.cartao03{
    left: 930px;
    position: absolute;
}